__pycache__
app
data_sources/credentials.json
venv/
backend/.venv312/
backend/.env
secrets/
backend/app/__pycache__/main.cpython-310.pyc
backend/app/__pycache__/routes.cpython-310.pyc
backend/app/__pycache__/schemas.cpython-310.pyc
data_sources/__pycache__/
frontend/.env
.env
frontend/src/screens/test.py
frontend/src/screens/test2.py
.venv312/

