__pycache__
app
data_sources/credentials.json
venv/
secrets/
backend/app/__pycache__/main.cpython-310.pyc
backend/app/__pycache__/routes.cpython-310.pyc
backend/app/__pycache__/schemas.cpython-310.pyc
data_sources/__pycache__/
.env
backend/.env
backend/.venv312
.venv312